
.info {
    font-size: large;
    position: absolute;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    /* background-color: #BBBBBB; */
    text-align: center;
    top: 0;
    left: 0;
    opacity: 0.7;
    display: table;
}
.preeloader {
    font-size: large;
    position: absolute;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    /* background-color: #BBBBBB; */
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    opacity: 0.7;
    display: table;
}
#infoBox {
    display: block;
}

#infoBox .text {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 20%;
}

#infoBox .icons {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

#infoBox .icons img {
    margin-left: 15px;
}
.bottom_controlls{
    margin-top: 90vh;
}
.bottom_controlls .camera_button {
    width: 70px;
    height: 70px;
    background-color: transparent;
    border-radius: 50px;
    border: none;
    position: relative;

} 



.photo-button {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
  }
  .circle {
    position: absolute;
    top: 12%;
    left: 12%;
    bottom: 12%;
    right: 12%;
    border-radius: 100%;
    background-color: #f7f7f7;
    opacity: 0;
  }
  .ring {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    border-radius: 100%;
    border: 6px solid #f7f7f7;
    opacity: 0.8;
  }
  .photo-button .circle, .photo-button .ring {
    transition: all 0.25s;
  }
  .photo-button:hover .circle {
    opacity: 1;
  }
  .photo-button:active .ring {
    opacity: 1;
  }
  .photo-button:active .circle {
    opacity: 0.5;
  }